.type-220 .clearfix {
  clear: both;
}
.type-220 .header a {
  color: #fff;
}
.type-220 .header a:hover,
.type-220 .header a:focus {
  color: #ff9933;
  text-decoration: none;
}
.type-220 .header img {
  max-width: 100%;
}
.type-220 .header #lms_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  clear: both;
  background: rgba(255,255,255,0.1);
  min-height: 94px;
  z-index: 99999;
  -webkit-transition: all 0.3s;
}
.type-220 .header .lms_header_top {
  float: left;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #ffffff;
  background: #60ca64;
}
.type-220 .header .logo {
  text-align: center;
  padding: 20px 0;
}
.type-220 .header .lms_any_que_wrapper {
  float: left;
  width: 100%;
  padding: 20px 0;
}
.type-220 .header .lms_any_que_wrapper p {
  float: left;
  color: #ababab;
  padding-right: 10px;
  margin: 0px;
}
.type-220 .header .lms_any_que_wrapper a {
  font-size: 12px;
  margin-right: 5px;
}
.type-220 .header .lms_login_wrapper {
  float: left;
  width: 100%;
  padding: 20px 0;
}
.type-220 .header .lms_login_wrapper ul {
  margin: 0px;
  padding: 0px;
  float: right;
}
.type-220 .header .lms_login_wrapper ul li {
  list-style: none;
  float: left;
  margin: 0px 10px;
}
.type-220 .header .lms_login_wrapper ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.3s;
}
.type-220 .header .lms_login_wrapper ul li a span {
  display: inline-block;
  width: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 16px;
  margin-top: -8px;
  margin-left: -9px;
  vertical-align: top;
  box-shadow: rgba(0,0,0,0.298039) 0px 2px 2px 0px;
  border-radius: 50%;
  background: #4a9fd5;
}
.type-220 .header .lms_login_wrapper ul li a:hover {
  color: #ff9933;
}
.type-220 .header .lms_login_wrapper ul li:last-child {
  margin-right: 0px;
}
.type-220 .header #lms_header > .container {
  height: 50px;
  margin-bottom: 0;
  position: relative;
  display: table;
  -webkit-transition: all 0.3s;
}
.type-220 .header .navbar {
  top: 100px;
}
.type-220 .header .navbar,
.type-220 .header .dropdown-menu {
  border: none;
}
.type-220 .header .nav>li>a,
.type-220 .header .dropdown-menu>li>a:focus,
.type-220 .header .dropdown-menu>li>a:hover,
.type-220 .header .dropdown-menu>li>a,
.type-220 .header .dropdown-menu>li {
  border-bottom: 3px solid transparent;
}
.type-220 .header .nav>li>a:focus,
.type-220 .header .nav>li>a:hover,
.type-220 .header .nav .open>a,
.type-220 .header .nav .open>a:focus,
.type-220 .header .nav .open>a:hover,
.type-220 .header .dropdown-menu>li>a:focus,
.type-220 .header .dropdown-menu>li>a:hover {
  border-bottom: 3px solid transparent;
  background: none;
}
.type-220 .header .navbar a,
.type-220 .header .dropdown-menu>li>a,
.type-220 .header .dropdown-menu>li>a:focus,
.type-220 .header .dropdown-menu>li>a:hover,
.type-220 .header .navbar-toggle {
  color: #60ca64;
}
.type-220 .header .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.type-220 .header .nav li:hover:nth-child(8n+1),
.type-220 .header .nav li.active:nth-child(8n+1) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+2),
.type-220 .header .nav li.active:nth-child(8n+2) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+3),
.type-220 .header .nav li.active:nth-child(8n+3) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+4),
.type-220 .header .nav li.active:nth-child(8n+4) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+5),
.type-220 .header .nav li.active:nth-child(8n+5) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+6),
.type-220 .header .nav li.active:nth-child(8n+6) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+7),
.type-220 .header .nav li.active:nth-child(8n+7) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .nav li:hover:nth-child(8n+8),
.type-220 .header .nav li.active:nth-child(8n+8) {
  border-bottom: #60ca64 2px solid;
}
.type-220 .header .navbar-toggle .icon-bar {
  color: #fff;
  background: #fff;
}
.type-220 .header .lms_search_toggle {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
}
.type-220 .header .lms_search_toggle a {
  width: 40px;
  height: 40px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  display: inline-block;
  -webkit-transition: all 0.3s;
}
.type-220 .header .lms_search_wrapper {
  display: none;
  position: absolute;
  top: 100%;
  right: 15px;
  width: auto;
  height: auto;
  padding: 25px;
  margin-top: 1px;
  background: #f0f0f0;
  min-width: 248px;
}
.type-220 .header .lms_search_wrapper input {
  border: 1px solid #9EA6B0;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  background-color: #fff;
}
.type-220 .header .lms_search_wrapper input:hover,
.type-220 .header .lms_search_wrapper input:focus {
  border-color: #9EA6B0;
}
@media all and (min-width: 767px) {
  .type-220 .header .image {
    width: 100%;
  }
  .type-220 .header .btn-responsive-nav {
    display: none;
  }
  .type-220 .header .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
@media (max-width: 991px) {
  .type-220 .header #lms_header {
    clear: both;
    position: relative;
  }
  .type-220 .header #lms_header > .container {
    width: 100%;
    margin-bottom: 0;
  }
  .type-220 .header .lms_any_que_wrapper {
    text-align: center;
  }
  .type-220 .header .lms_any_que_wrapper p {
    float: none;
    padding-right: 0px;
  }
  .type-220 .header .lms_any_que_wrapper a {
    font-size: 10px;
  }
  .type-220 .header .lms_login_wrapper {
    text-align: center;
  }
  .type-220 .header .lms_login_wrapper ul {
    padding: 20px 0px 0px 0px;
    float: none;
    display: inline-block;
  }
  .type-220 .header .lms_search_toggle {
    display: none;
  }
  .type-220 .header #lms_header .nav-main-collapse {
    top: 8px;
    position: relative;
    max-height: none;
  }
  .type-220 .header #lms_header .nav-main {
    padding: 10px 0;
    clear: both;
    display: block;
    float: none;
    width: 100%;
  }
  .type-220 .header #lms_header .nav-main ul li {
    padding: 0;
    margin: 0;
    clear: both;
    float: none;
    display: block;
    border-bottom: 1px solid #60ca64;
  }
  .type-220 .header #lms_header .nav-main ul li:last-child {
    border-bottom: none;
  }
  .type-220 .header #lms_header .nav-main ul ul {
    margin-left: 20px !important;
  }
  .type-220 .header #lms_header .nav-main ul.nav-main {
    float: none;
    position: static;
    margin: 8px 0;
    margin-right: -10px;
  }
  .type-220 .header #lms_header .nav-main ul.dropdown-menu {
    position: static;
    clear: both;
    float: none;
  }
  .type-220 .header #lms_header .nav-main li.resp-active > ul.dropdown-menu {
    display: none !important;
  }
  .type-220 .header #lms_header nav ul.nav-main li a {
    clear: both;
    float: none;
    display: block;
    padding: 9px 8px;
    margin: 0;
    border-bottom: none !important;
  }
  .type-220 .header .dropdown-menu:before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    margin-bottom: 2px !important;
    border-top: 1px solid #fff;
  }
  .type-220 .header #lms_header nav ul.nav-main ul.dropdown-menu {
    background: none !important;
    background-color: transparent !important;
    box-shadow: none;
  }
  .type-220 .header #lms_header nav ul.nav-main ul.dropdown-menu #lms_header nav ul.nav-main ul.dropdown-menu li > a {
    padding: 9px 8px;
    border: 0;
    border-top: 0;
    margin: 0;
  }
  .type-220 .header #lms_header nav ul.nav-main .dropdown > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF;
    margin-top: 5px;
    margin-right: -10px;
  }
}
@media (max-width: 767px) {
  .type-220 .header .navbar-toggle {
    margin-top: 90px !important;
  }
}
@media (min-width: 768px) and (max-width: 989px) {
  .type-220 .header .navbar-nav {
    margin-top: 70px !important;
  }
}
